@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@400,500;700;800&family=Roboto:wght@400;500;700&family=Space+Grotesk:wght@500&family=Ubuntu:wght@400;500;700&display=swap");
main {
  font-size: 62.5%;
  font-family: "Hanken Grotesk", sans-serif; }

body {
  font-size: 1.6rem; }

input {
  font-family: "Hanken Grotesk", sans-serif;
  font-size: 1rem; }

button {
  font-size: 1.2em;
  color: white; }

.card-container-front {
  position: relative;
  color: white; }
  .card-container-front__card-number {
    position: absolute;
    bottom: 4.5rem;
    left: 1rem;
    font-size: 2rem; }

.card-bottom-container {
  font-weight: 500;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  width: 25.5rem; }

.dot-container {
  position: absolute;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  gap: 1rem; }
  .dot-container__dot--full {
    width: 3rem;
    height: 3rem;
    background-color: white;
    border-radius: 50%; }
  .dot-container__dot--empty {
    width: 1.5rem;
    height: 1.5rem;
    background-color: transparent;
    border: 1px solid white;
    border-radius: 50%; }

.card-container-back {
  justify-self: flex-end;
  position: relative;
  display: inline-block;
  align-self: flex-end; }
  .card-container-back .card-container-back__CVC {
    color: white;
    position: absolute;
    top: 6.5rem;
    right: 3rem;
    font-size: 1.8rem; }

.card-container {
  display: flex;
  flex-direction: column;
  width: 530px; }

.input-container__form {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 450px; }
  .input-container__form__input {
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border: 2px solid #dedddf; }
    .input-container__form__input:focus {
      outline: solid 1px #6448fe; }
    .input-container__form__input:not(:placeholder-shown):invalid {
      outline: solid 1px #ff5252; }
    .input-container__form__input-date {
      display: inline-block;
      max-width: 22%; }
    .input-container__form__input-cvc {
      display: inline-block;
      max-width: 70%; }
  .input-container__form__flex-input-container {
    display: flex;
    justify-content: space-between; }
  .input-container__form__label-container {
    position: relative; }
    .input-container__form__label-container label {
      position: absolute;
      text-transform: uppercase; }
    .input-container__form__label-container label:last-child {
      right: 12.2rem; }
  .input-container__form .input-container__form__btn {
    padding: 0.5rem 0;
    background-color: #21092f;
    border-radius: 10px;
    border: none; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }

main {
  width: 1440px;
  display: flex;
  gap: 15rem; }
