@import "media";
@import "partials/variables";
@import "partials/typography";

@import "partials/cardContainer/cardFront/cardFront",
  "partials/cardContainer/cardFront/cardBottom",
  "partials/cardContainer/cardFront/dotContainer";

@import "partials/cardContainer/cardBack";
@import "partials/cardContainer/cardContainer";
@import "partials/cardContainer/errorMessage";

@import "partials/inputContainer";
@import "partials/inputError";

@import "partials/utils";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0;

  background-image: url("../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 34%;

  @include chromebook {
    background-size: contain;
  }

  @include phone {
    background-image: url("../images/bg-main-mobile.png");
    background-size: 100%;
  }
}

main {
  max-width: 1300px;
  display: flex;
  gap: 15rem;
  transition: all 300ms ease-in-out;

  @include chromebook {
    gap: 5rem;
  }

  @include tablet {
    gap: 1rem;
  }

  @include phone {
    align-self: flex-start;
    width: 100%;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: space-around;
    height: 95vh;
    align-items: center;
    align-self: center;
  }
}
