@import "partials/variables";
@import "partials/typography";
@import "media";
@import "partials/cardContainer/cardFront/cardFront",
  "partials/cardContainer/cardFront/cardBottom",
  "partials/cardContainer/cardFront/dotContainer";

@import "partials/cardContainer/cardBack";
@import "partials/cardContainer/cardContainer";

@import "partials/inputContainer";
@import "partials/inputError";

@import "partials/utils";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../images/bg-main-desktop.png");
  background-repeat: no-repeat;
  background-size: 32.1%;
}

main {
  width: 1300px;
  display: flex;
  gap: 15rem;
}
