.card-container-back {
  justify-self: flex-end;
  position: relative;
  display: inline-block;
  align-self: flex-end;

  .card-container-back__back-img {
    @include phone {
      width: 400px;
    }
  }

  .card-container-back__CVC {
    color: $white;
    position: absolute;
    top: 40.5%;
    right: 10.5%;
    font-size: 1.8rem;

    @include phone {
      font-size: 1.6rem;
    }
  }
}
