.card-container {
  display: flex;
  flex-direction: column;
  width: 530px;
  gap: 30px;

  @include phone {
    flex-direction: column-reverse;
    width: 350px;
    gap: 0px;
  }

  & > {
    width: 100%;
  }
}
