.card-container-back {
  justify-self: flex-end;
  position: relative;
  display: inline-block;
  align-self: flex-end;

  @include phone {
    margin-right: 10px;
  }

  &__back-img {
    @include phone {
      width: 300px;
    }
  }

  &__CVC {
    color: $white;
    position: absolute;
    top: 40.5%;
    right: 10.5%;
    font-size: 1.8rem;
    letter-spacing: 1px;

    @include phone {
      font-size: 1.2rem;
      top: 40%;
    }
  }
}
