.card-container-back {
  justify-self: flex-end;
  position: relative;
  display: inline-block;
  align-self: flex-end;

  .card-container-back__back-img {
  }

  .card-container-back__cvc {
    color: $white;
    position: absolute;
    top: 6.3rem;
    right: 3rem;
    font-size: 1.8rem;
  }
}
