.card-bottom-container {
  font-weight: 500;
  position: absolute;
  bottom: 2rem;
  left: $card-left;
  display: flex;
  justify-content: space-between;
  width: 75%;

  &__owner-name {
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  &__expiration-date {
    letter-spacing: 1px;
  }

  @include phone {
    width: 90%;
    font-size: 1rem;
  }
}
