.card-container-front {
  position: relative;
  color: $white;

  &__card-number {
    position: absolute;
    bottom: 31%;
    left: $card-left;
    font-size: 2rem;
    letter-spacing: 1px;

    @include phone {
      font-size: 1.4rem;
    }
  }

  @include phone {
    width: 300px;
    margin-top: $phone-card-margin-top;
    z-index: 100;

    &__front-img {
      width: 300px;
    }

    margin-left: 10px;
  }
}
