.card-container-front {
  position: relative;
  color: $white;

  &__front-img {
    width: 400px;
  }

  &__card-number {
    position: absolute;
    bottom: 31%;
    left: $card-left;
    font-size: 2rem;

    @include phone {
      font-size: 1.8rem;
    }
  }

  @include phone {
    width: 75%;
  }
}
