.card-bottom-container {
  font-weight: 500;
  position: absolute;
  bottom: 2rem;
  left: $card-left;
  display: flex;
  justify-content: space-between;
  width: 75%;

  &__owner-name {
    text-transform: uppercase;
  }

  &__expiration-date {
  }
}
