.card-bottom-container {
  font-weight: 500;
  position: absolute;
  bottom: 2rem;
  left: 1rem;
  display: flex;
  justify-content: space-between;
  width: 25.5rem;

  &__owner-name {
    text-transform: uppercase;
  }

  &__expiration-date {
  }
}
