.input-container {
  @include phone {
    margin-top: $phone-card-margin-top;
    width: 320px;
    height: 350px;
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    max-width: 450px;

    @include tablet {
      max-width: 250px;
    }

    @include phone {
      gap: 0rem;
      max-width: 400px;

      & > div:first-child,
      & > div:nth-child(2) {
        height: 90px;
      }

      input {
        height: 50px;

        @include phone {
          height: 40px;
        }
      }
    }

    & > input {
      width: 100%;
    }

    &__input {
      padding: 0.5rem 1rem;
      border-radius: 10px;
      border: 2px solid $light-grayish-violet;

      &--big {
        width: 100%;
      }

      &:focus {
        outline: solid 1px $linear-gradient-active-input-border-start;
      }

      &:not(:placeholder-shown):invalid {
        outline: solid 1px $red-input-errors;
      }

      &-date {
        display: inline-block;
        max-width: 22%;

        @include tablet {
          max-width: 30%;
        }
      }

      &-cvc {
        display: inline-block;
        max-width: 70%;

        @include tablet {
          max-width: 30%;
        }
      }
    }

    &__label {
      line-height: 3;
      text-transform: uppercase;

      @include phone {
        font-size: 0.9rem;
      }
    }

    &__flex-input-container {
      display: flex;
      justify-content: space-between;
    }

    &__label-container {
      position: relative;
      padding: 1rem 0;

      @include tablet {
        max-width: 300px;
      }

      @include phone {
        margin-bottom: 20px;
      }

      & label {
        position: absolute;
        text-transform: uppercase;
        font-size: 0.9rem;
      }

      & label:last-child {
        right: 43%;

        @include tablet {
          right: 16%;
        }
      }
    }

    &__btn {
      padding: 1rem 0;
      background-color: $very-dark-violet;
      border-radius: 10px;
      border: none;
      width: 100%;

      &:hover {
        cursor: pointer;
      }

      &:active {
        background-color: $linear-gradient-active-input-border-end;
      }
    }

    &__heading {
      font-size: 2rem;
      margin-bottom: 0;
      text-align: center;
      letter-spacing: 1px;
      text-transform: uppercase;
      margin-bottom: 0.3rem;
    }

    &__paragraph {
      color: $dark-grayish-violet;
      text-align: center;
      letter-spacing: 1px;

      @include phone {
        font-size: 1.1rem;
        letter-spacing: 2px;
      }
    }
  }

  &__img {
    height: $checkmark-size;
    width: $checkmark-size;

    @include phone {
      height: $phone-checkmark-size;
      width: $phone-checkmark-size;
      margin-bottom: 1rem;
    }
  }
}
