$white: hsl(0, 0%, 100%);
$light-grayish-violet: hsl(270, 3%, 87%);
$dark-grayish-violet: hsl(279, 6%, 55%);
$very-dark-violet: hsl(278, 68%, 11%);

$linear-gradient-active-input-border-start: hsl(249, 99%, 64%);
$linear-gradient-active-input-border-end: hsl(278, 94%, 30%);
$red-input-errors: hsl(0, 100%, 66%);

$dot--big: 3rem;
$dot-small: 1.5rem;

$checkmark-size: 5rem;
